.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-filters {
  display: flex;
  justify-content: space-around;
  padding: 25px; 
  /* border: dotted 2px black;   */
  width: 100%; 
}
.filter-head {
  font-weight: bold;
  font-size: 16px;
  padding: 12px; 
  /* display: flex;
  justify-content: space-around;   */

}

.main {
  display: flex;
  align-items: stretch;
  padding-top: 25px;
}


.slider {  
   /* margin-left: 18px;  */
  /* margin-right: 18px;  */
}

.slider-box { 
  width: 150px; 
}

.Collapsible__contentInner { 
  padding: 12px; 
  border: dotted white 8px; ; 
}

.Collapsible__contentOuter { 
  padding: 3px; 
}